@font-face {
  font-family: "iconfont";
  /* Project id 4056691 */
  src: url('iconfont.woff2?t=1685969205058') format('woff2'),
    url('iconfont.woff?t=1685969205058') format('woff'),
    url('iconfont.ttf?t=1685969205058') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 图标大小  默认 2rem   min 1rem  lg 3rem  */
.icon {
  width: 2rem;
  height: 2rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-min {
  width: 1rem;
  height: 1rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-lg {
  width: 3rem;
  height: 3rem;
}

.icon-cocos:before {
  content: "\e63d";
}

.icon-JavaScript:before {
  content: "\e602";
}

.icon-tongji:before {
  content: "\e630";
}

.icon-zhuye:before {
  content: "\e60e";
}

.icon-bianxie:before {
  content: "\e600";
}

.icon-zhukongtai:before {
  content: "\e7b6";
}

.icon-a-shezhi:before {
  content: "\e608";
}

.icon-shijianzhou1:before {
  content: "\e62d";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-youjian:before {
  content: "\e611";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-daibanshixiang:before {
  content: "\e62f";
}

.icon-youxitianchong:before {
  content: "\e6b5";
}

.icon-gongju:before {
  content: "\e73f";
}

.icon-fuwuqi:before {
  content: "\e98e";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-_houduankaifa:before {
  content: "\e610";
}

.icon-rengongzhineng:before {
  content: "\e6a7";
}

.icon-shujuku:before {
  content: "\e997";
}

.icon-canjiren:before {
  content: "\e63f";
}

.icon-email:before {
  content: "\e6eb";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-Tag:before {
  content: "\e775";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-css:before {
  content: "\e61e";
}

.icon-typescript:before {
  content: "\e6a3";
}

.icon-webpack:before {
  content: "\e6ae";
}