@font-face {
  font-family: "iconfont";
  /* Project id 4056691 */
  src: url('iconfont.woff2?t=1684113237157') format('woff2'),
    url('iconfont.woff?t=1684113237157') format('woff'),
    url('iconfont.ttf?t=1684113237157') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-shijianzhou-dangqianshijian:before {
  content: "\e621";
}

.icon-shijianzhou:before {
  content: "\e6f7";
}

.icon-shijianzhou1:before {
  content: "\e62d";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-youjian:before {
  content: "\e611";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-daibanshixiang:before {
  content: "\e62f";
}

.icon-jibiji:before {
  content: "\e60a";
}

.icon-youxitianchong:before {
  content: "\e6b5";
}

.icon-gongju:before {
  content: "\e73f";
}

.icon-fuwuqi:before {
  content: "\e98e";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-_houduankaifa:before {
  content: "\e610";
}

.icon-rengongzhineng:before {
  content: "\e6a7";
}

.icon-shujuku:before {
  content: "\e997";
}

.icon-canjiren:before {
  content: "\e63f";
}

.icon-email:before {
  content: "\e6eb";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-Tag:before {
  content: "\e775";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-css:before {
  content: "\e61e";
}

.icon-typescript:before {
  content: "\e6a3";
}

.icon-webpack:before {
  content: "\e6ae";
}